

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered table-striped">

    <thead>

        <tr>

            <th>EMPID</th>
            <th>EMPNAME</th>
            <th>DEPTID</th>
        </tr>
    </thead>
    <tbody >
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.EmpID</th>
                <th>@item.EmpName</th>
                <th>@item.DeptID</th>
                <th> @Html.ActionLink("DELETE", "DeleteEmployee", new { id = item.EmpID })</th>
                <th> @Html.ActionLink("UPDATE", "ModifyEmployee", new { id = item.EmpID })</th>

            </tr>        
           }
    </tbody>
</table>

